<!DOCTYPE html>
<html>
<head>
    <style>
        .pepe{
            background-color: green;
            color: azure;
            padding: 20px;
        }
    </style>
</head>

<body>

    <h1 class="pepe">My First Heading</h1>
    <b>soy gay</b>
    <p>My first paragraph.</p>
    <h1>This is heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>
    <a href="https://google.com"><img src="templates/2264269_1.jpg" alt="asdasd" width="200" height="200"></a>
    <form action="./?action=autentificar" method="post" >
        <label> Nombre Usuario </label>
        <input name='user' type="text" required></input>
        <label>Contraseña</label>
        <input name='pass' type="password" required ></input>
        <input name='botoncito' type="submit" value="Iniciar Sesion">
      </form>
</body>

</html>