<!DOCTYPE html>
<html>
<head>
    <style>
        .pepe{
            background-color: green;
            color: azure;
            padding: 20px;
        }
    </style>
</head>

<body>

    <h1 class="pepe">POST TEST</h1>
   
    <form action="./?action=autentificar" method="post" >
        <label> Nombre Usuario </label>
        <input name='user' type="text" required></input>
        <label> Nombre </label>
        <input name='nombre' type="text" required></input>
        <label>Email</label>
        <input name='email' type="email" required>AAAAAA@AAAAAAA.COM</imput>
        <label>Fecha</label>
        <input name="fecha" type="date" required></imput>
        
        <input name='botoncito' type="submit" value="Iniciar Sesion">
      </form>
</body>

</html>